<div class="container">
  <br>
  <h3><mark style="background-color: whitesmoke">Автомобиль: </mark> {{name}}
  <small>{{model}}</small></h3>
  <div class="alert alert-success">
    Характеристики автомобиля:
    <ul>
      <li>Скорость: <strong>{{speed}} км</strong></li>
      <li>Цвет автомобиля: <strong>{{colors.car}}</strong></li>
      <li>Цвет салона: <strong>{{colors.salon}}</strong></li>
      <li>Цвет дисков: <strong>{{colors.wheels}}</strong></li>
    </ul>
  </div>

  <h3>Возможности автомобиля</h3>
  <div class="alert alert-warning">
    <ul>
      <li *ngFor="let opt of options; let i = index">{{i+1}} - {{opt}}</li>
    </ul>
  </div>

  <h3>Выберите автомобиль</h3>
  <button class="btn btn-danger" (click)="carSelect('bmw')">BMW</button>
  <button class="btn btn-success" (click)="carSelect('audi')">Audi</button>
  <button class="btn btn-info" (click)="carSelect('mer')">Mercedes</button>
</div>

